/*  setting */
.settingContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.settingContainer > form {
  flex: 1;
}
.settingBottomWrap {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-page);
  padding: 0px 16px;
  border-top: 1px solid var(--border-primary);
  z-index: 1;
}
/*  login */
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-page);
  color: var(--text-color);
}
.loginWrap {
  position: relative;
  background: var(--bg-surface);
  padding: 24px;
  border-radius: 8px;
  width: 358px;
}
.loginBrand {
  font-family: "Playfair Display", "Noto Serif KR", serif;
}
.loginBrand h1 {
  font-size: 32px;
  font-weight: 700;
}
.loginBrand h2 {
  font-size: 20px;
}
.loginWrap .formList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}
.loginWrap .formList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginWrap .formList li .inputWrapper,
.loginWrap .formList li .btn-outline {
  width: 100%;
}
.loginContainer .helpButtonWrap {
  position: absolute;
  bottom: -48px;
  right: 0;
}
